img{
  width: 5rem;
}

main{
  background-color: #7FFFD4;
}

.width-80{
  width: 80%;
  margin: 0 auto;
}

.quadrato{
  width: calc(100% / 10);
  aspect-ratio: 1/1;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.elementoCorrente {
  align-items: center;
  justify-content: center;
}

.active{
  display: flex;
  background-color: blue;
  color: white;
}

.fa-heart{
  color: black;
}